<div style="height: 100vh;width:100vw;" class="background-fill">
  <img [src]="imgUrl" style="background-size: cover;">
</div>

<div class="title">
  <div class="txt-big">
    Wed Flim and Phos
  </div>
  <div style="float: right;" class="txt-med">
    We are here to capture your memory
  </div>
</div>

<div class="footer">
  <div>
    Contact Us
  </div>
  <div>
    <i class="pi pi-phone"></i>
    <span style="margin-left: 0.5em;">9435504862</span>
  </div>
  <div>
    <i class="pi pi-facebook"></i>
    <a href="https://facebook.com" target="_blank" class="link" style="margin-left: 0.5em;">facebook</a>
  </div>
  <div>
    <i class="pi pi-instagram"></i>
    <a href="https://instagram.com" target="_blank" class="link" style="margin-left: 0.5em;">instagram</a>
  </div>
</div>